<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="E家洁BOSS" verbose="1">
	<!-- 测试数据存放地址 -->
	<parameter name="mysql_url" value="jdbc:mysql://127.0.0.1:3306/testdata?characterEncoding=UTF-8" />
	<parameter name="mysql_user" value="root" />
	<parameter name="mysql_pwd" value="Song129927" />

	<test name="登录测试 -- 浏览器chrome">
		<parameter name="DriverName" value="chrome" />
		<parameter name="ChromeDriverPath"
				   value="C:/Program Files (x86)/Google/Chrome/Application/chromedriver.exe" />
		<classes>
			<class name="cases_ejj.MakeOrder_Test"/>
		</classes>
	</test>
	<!--
        <test name="登录测试 - 浏览器firefox">
            <parameter name="DriverName" value="firefox" />
            <parameter name="FirefoxDriverPath" value="D:/Program Files/Mozilla Firefox/firefox.exe" />
            <classes>
                <class name="cases_ejj.LoginTest"/>
                <class name="cases_ejj.HomeLinkTest"/>
            </classes>
        </test>
        -->
	<!--
            <test name="登录测试 - 浏览器ie">
                <parameter name="DriverName" value="ie"/>
                <classes>
                    <class name="cases_ejj.LoginTest"/>
                    <class name="cases_ejj.HomeLinkTest"/>
                </classes>
            </test>
    -->

            <!-- 测试目标配置 -->
	<parameter name="index" value="http://101.200.2.207" />
	<parameter name="admin_user" value="admin"/>
	<parameter name="admin_pass" value="Test2016QA"/>
</suite>